.mainworp {
    width: 100%;
    background-color: #ebebeb;
    &-header {
        background-color: #ffffff;
        // 顶部
        height: 150px;
        background-image: url("http://www.81.cn/syjdt/_attachment/2023/08/04/16242583_3b7c815868f1c3405c249d0e15500afa.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        min-width: 1024px;
        flex-shrink: 0;
        margin-bottom: 20px;
        border-radius: 8px;
        &-nav {
            margin-top: auto;
            width: 1024px;
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            flex-shrink: 0;
            &-item {
                margin-left: 10px;
                font-size: 16px;
                color: lightseagreen;
                font-weight: 500;
            }
            &-icon {
                width: 16px;
                height: 16px;
            }
        }
    }
}
